@model Suri.Models.Localidades

@{
    ViewData["Title"] = "Create";
}

<h1 class="encabezado pt-lg-5">CREAR NUEVA LOCALIDAD</h1>

<div class="container">  
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordenadas" class="control-label"></label>
                <input asp-for="Coordenadas" class="form-control" />
                <span asp-validation-for="Coordenadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeldaId" class="control-label"></label>
                <input asp-for="CeldaId" class="form-control" />
                <span asp-validation-for="CeldaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
     
 
<div class="text-right">
    <a   asp-action="Index">Volver a la lista</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
