@model Suri.Models.Localidades

@{
    ViewData["Title"] = "Edit";
}

<h1 class="pt-3">EDITAR</h1>


<h4>LOCALIDADES</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordenadas" class="control-label"></label>
                <input asp-for="Coordenadas" class="form-control" />
                <span asp-validation-for="Coordenadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeldaId" class="control-label"></label>
                <input asp-for="CeldaId" class="form-control" />
                <span asp-validation-for="CeldaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
