/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0;
    cursor: unset;
    font-size: 22px;
    user-select: none;
}

.encabezado {
    position: relative;
    display: inline-block;
    margin: auto;
    left: 50%;
    padding: 40px 0 90px 0;
    transform: translateX(-50%);
    font-family: 'Titillium Web', sans-serif;
}

    .encabezado::after {
        content: "";
        position: relative;
        width: 30%;
        background-color: #497E80;
        height: 4px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
    }

.logo-container img {
    width: 50px;
}

thead {
    background-color: rgba(227,73,73, 0.27) ;
}
@media screen and (min-width: 992px) {
    #logout-btn, #login-btn {
        margin-top: auto !important;
    }

    #title {
        margin-bottom: auto !important;
    }

    #menu-content {
        margin-bottom: auto !important;
        margin-top: auto !important;
    }
}

@media screen and (max-width: 492px) {
    .encabezado {
    font-size: 6.5vw; 
    }
}

@media screen and (max-width: 368px) {
    .logo-container img {
        width: 11.6vw;
        min-width: 40px;

    }
    
        .titulo {
        font-size: 14px;
    }
}
