@model Suri.DTO.CreateRoleDTO

@{
    ViewData["Title"] = "Create";
}


<h1 class="encabezado pt-lg-5">CREAR NUEVO ROL</h1>

<div class="container">

    <form asp-action="CreateRole">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RoleName" class="control-label"></label>
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Crear rol" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a class="float-right" asp-action="ListRoles">Volver a la lista</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
