@model Suri.Models.Actividades

@{
    ViewData["Title"] = "Create";
}
<h1 class="encabezado pt-lg-5">CREAR NUEVA ACTIVIDAD</h1>

<div class="container">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Actividad" class="control-label"></label>
            <input asp-for="Actividad" class="form-control" />
            <span asp-validation-for="Actividad" class="text-danger"></span>
        </div>


        <div class='form-group date'>
            <label asp-for="FechaAsignacion" class="control-label"></label>
            <input type='date' asp-for="FechaAsignacion" class="form-control" />
            <span asp-validation-for="FechaAsignacion" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="MyUserId" class="control-label"></label>
            <select asp-for="MyUserId" class="form-control" asp-items="ViewBag.MyUserId"></select>
        </div>
        <div class="form-group">
            <label asp-for="LocalidadId" class="control-label"></label>
            <select asp-for="LocalidadId" class="form-control" asp-items="ViewBag.LocalidadId"></select>
        </div>
        <div class="form-group">
            <label asp-for="PrioridadId" class="control-label"></label>
            <select asp-for="PrioridadId" class="form-control" asp-items="ViewBag.PrioridadId">
            </select>
            <span asp-validation-for="PrioridadId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </form>

<div class="text-right">
    <a href='javascript:history.go(-1)'  >Volver</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
