@model Suri.DTO.ActividadDTO
@{
    Layout = null;
}
 
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RealizarActividad</title>
</head>
<body>
    <form asp-action="TerminarActividad" method="post">




    </form>

</body>
</html>
